#python generated catche files 
__pycache__/ 
*.pyc
# flask session files
flask_session/
# virtual environment 
venv/
# local database
*.db
# environment variables
.env
# vscode/pycharm project settings
.vscode/
.idea/