<!DOCTYPE html>
<html>
<head>
    <title>Save the Stickman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Save the Stickman!</h1>
    <!-- TEMP: showing the word as blanks -->
    <p>The word to guess is: <strong>{{ blanks }}</strong></p>

    <!-- Guess a letter form -->
<form action="/" method="post">
    <label for="letter">Guess a letter:</label>
    <input type="text" id="letter" name="letter" maxlength="1" required>
    <button type="submit">Submit</button>
</form>

    <!-- reset button-->
<form action="/reset" method="get">
    <button type="submit">New Game</button>
</form>

    <!-- Show guessed letters -->
{% if guessed %}
    <p>Letters guessed so far: {{ guessed | join(', ') }}</p>
{% endif %}

    <!-- Show guessed letter if submitted -->
    {% if guess %}
        <p>You guessed: <strong>{{ guess }}</strong></p>
    {% endif %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>